<%- include("../partials/header.ejs") %>

  <form action="/cohorts" method="POST">
    <%- include("../partials/formInput.ejs") %>
    <div class="submit">
      <button type="submit" class="btn btn-outline-primary" value="Create Post">Submit</button>
    </div>
  </form>

  <%- include("../partials/footer.ejs") %>